<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Imagenex-Dump852 VERSION-NUMBER</Name>
    <Version>VERSION-NUMBER</Version>
    <Title>Imagenex 852 sonar toolkit Installer</Title>
    <Publisher>CIDCO</Publisher>
    <StartMenuDir>Imagenex852</StartMenuDir>
    <TargetDir>@HomeDir@/Imagenex852</TargetDir>
</Installer>
